 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2)), url("images/4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1 .u-group-1 {
  width: 836px;
  min-height: 487px;
  margin: 97px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-icon-1 {
  width: 120px;
  height: 102px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 0.57;
  margin: 8px 20px 0;
}

.u-section-1 .u-shape-1 {
  width: 19px;
  height: 252px;
  margin: 4px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 20px;
  height: 245px;
  margin: -248px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3.9375rem;
  font-weight: 800;
  margin: -242px 20px 0;
}

.u-section-1 .u-text-3 {
  width: 579px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 47px auto 0;
  padding: 7px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 489px;
    margin-top: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 69px;
    height: 69px;
    margin-top: 33px;
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -238px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 35px;
    padding-right: 45px;
    padding-bottom: 8px;
    padding-left: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-group-1 {
    width: 688px;
    min-height: 467px;
    margin-top: 56px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 30px;
    padding-right: 31px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-group-1 {
    min-height: 424px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 57px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.0625rem;
    margin-top: -231px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    width: 323px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-group-1 {
    min-height: 437px;
    margin-top: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
    margin-left: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -214px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 47px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 221px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -177px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-group-1 {
  background-image: none;
  width: 421px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 180px;
  margin: 21px 19px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  margin: 26px 25px 0;
}

.u-section-2 .u-group-2 {
  background-image: none;
  min-height: 177px;
  width: 421px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  margin: 0 19px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 19px 38px 0 34px;
}

.u-section-2 .u-text-3 {
  font-size: 9.125rem;
  font-weight: 700;
  margin: -181px 819px 0 19px;
}

.u-section-2 .u-group-elements-1 {
  width: 341px;
  min-height: 120px;
  margin: -147px auto 33px 321px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  font-size: 1rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 17px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 356px;
    min-height: 147px;
    margin-top: 42px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    min-height: 165px;
    width: 356px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: 47px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-3 {
    font-size: 7.5rem;
    width: auto;
    margin-top: -150px;
    margin-right: 698px;
    margin-left: 21px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 284px;
    height: auto;
    min-height: 145px;
    margin-top: -144px;
    margin-bottom: 5px;
    margin-left: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-group-1 {
    width: 309px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-2 {
    min-height: 147px;
    margin-top: -147px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 6.25rem;
    width: 174px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 0;
    margin-bottom: 33px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: 284px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-2 .u-group-1 {
    width: 356px;
    margin-top: -65px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-group-2 {
    min-height: 165px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 31px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 17px;
    margin-right: 39px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    width: 135px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-3 .u-group-1 {
  width: 895px;
  min-height: 180px;
  margin: 55px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 20px;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  font-size: 1rem;
  margin: 16px 20px 0;
}

.u-section-3 .u-gallery-1 {
  height: 696px;
  width: 1027px;
  margin: 57px auto 60px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 13.36%;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 100%;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 72.28%;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 94.55%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 165px;
  height: 150px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-gallery-1 {
    height: 640px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 150px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 134px;
    height: 122px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 134px;
    height: 122px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 134px;
    height: 122px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 134px;
    height: 122px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 150px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 144px;
    height: 144px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 103px;
    height: 94px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 103px;
    height: 94px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 103px;
    height: 94px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 103px;
    height: 94px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 144px;
    height: 144px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 144px;
    height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 108px;
    height: 108px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 77px;
    height: 70px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 77px;
    height: 70px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 77px;
    height: 70px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 77px;
    height: 70px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 108px;
    height: 108px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 108px;
    height: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 68px;
    height: 68px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 49px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 49px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 49px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 49px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 68px;
    height: 68px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 68px;
    height: 68px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 409px;
}

.u-section-4 .u-text-1 {
  margin: 48px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 29px 0 28px;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 593px;
  background-image: url("images/productieeditat.jpg");
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  margin: 34px 0 0;
}

.u-section-5 .u-line-1 {
  margin-top: 31px;
  margin-bottom: 0;
  border-style: solid;
  transform-origin: left center 0px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 31px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 102px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 637px;
  }

  .u-section-5 .u-image-1 {
    min-height: 571px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 60px;
    margin-left: 60px;
    padding: 7px 45px 8px 44px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 266px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 743px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
    min-height: 702px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 743px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1rem;
    margin-top: 31px;
    margin-left: 10px;
    padding-right: 31px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 659px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 701px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 657px;
    background-position: 50% 32.72%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 592px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    min-height: 428px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 92px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/17.jpg");
  min-height: 690px;
  background-position: 50% 50%;
}

.u-section-6 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 48px calc(((100% - 1140px) / 2) + 47px) 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 466px;
}

.u-section-6 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 5px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  margin: -64px 0 0 115px;
}

.u-section-6 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 5px;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: -64px 0 0 115px;
}

.u-section-6 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 5px;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: -64px 0 0 115px;
}

.u-section-6 .u-group-1 {
  margin-top: 28px;
  margin-bottom: 0;
  min-height: 148px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 129px 0 619px;
}

.u-section-6 .u-group-2 {
  width: 401px;
  background-image: none;
  min-height: 613px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -641px auto 28px calc(((100% - 1140px) / 2));
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 553px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 17.67% 50%;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 774px;
  }

  .u-section-6 .u-list-1 {
    width: 476px;
    margin-top: 76px;
    margin-right: calc(((100% - 940px) / 2) + 47px);
  }

  .u-section-6 .u-repeater-1 {
    grid-gap: 0px 0px;
    min-height: 525px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 3px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 50px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -101px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 3px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 50px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -101px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 3px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 50px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -101px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 13px;
    min-height: 167px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 4px;
    margin-right: 63px;
    margin-left: 464px;
  }

  .u-section-6 .u-group-2 {
    min-height: 668px;
    margin-top: -698px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-1 {
    height: 608px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 678px;
  }

  .u-section-6 .u-list-1 {
    width: 360px;
    margin-top: 75px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-6 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -42px;
    margin-right: 18px;
    margin-left: 52px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-6 .u-icon-2 {
    height: 38px;
    width: 38px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -42px;
    margin-right: 18px;
    margin-left: 52px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-6 .u-icon-3 {
    height: 38px;
    width: 38px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -42px;
    margin-right: 18px;
    margin-left: 52px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 14px;
    min-height: 149px;
  }

  .u-section-6 .u-container-layout-4 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
    margin-right: 14px;
    margin-left: 475px;
  }

  .u-section-6 .u-group-2 {
    width: 346px;
    min-height: 543px;
    margin-top: -603px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-6 .u-container-layout-5 {
    padding: 0 20px;
  }

  .u-section-6 .u-image-1 {
    height: 497px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 50% 50%;
    min-height: 1055px;
  }

  .u-section-6 .u-list-1 {
    width: 378px;
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 448px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 186px;
    min-height: 376px;
  }

  .u-section-6 .u-text-4 {
    width: 345px;
    margin-top: 218px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-group-2 {
    width: 349px;
    min-height: 376px;
    margin-top: -562px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
    object-position: 0.49% 50%;
    width: 321px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1149px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: 19px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 542px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 60px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 43px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 60px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 43px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 212px;
  }

  .u-section-6 .u-text-4 {
    width: 320px;
    font-size: 1.75rem;
    margin-top: 271px;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
    margin-top: -517px;
  }

  .u-section-6 .u-image-1 {
    height: 339px;
    object-position: 10.02% 32.52%;
    width: 320px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 623px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1024px;
  margin: 74px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 359px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-family: titillium-Web;
  margin: 35px 23px 0;
}

.u-section-7 .u-text-2 {
  width: 328px;
  font-style: normal;
  font-size: 1rem;
  margin: 9px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  width: 307px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

.u-section-7 .u-text-4 {
  width: 307px;
  font-style: normal;
  margin: 9px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 359px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  width: 328px;
  font-family: titillium-Web;
  margin: 35px auto 0;
}

.u-section-7 .u-text-6 {
  width: 328px;
  font-style: normal;
  margin: 9px auto 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 23px;
    margin-left: 31px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-text-4 {
    width: 236px;
    margin-top: 15px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-7 .u-text-6 {
    width: 172px;
    margin-top: 15px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 15px;
    padding: 7px 45px 8px 44px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-7 .u-icon-1 {
    height: 81px;
    width: 81px;
    margin-top: 8px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 18px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    width: 169px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 379px;
  }

  .u-section-7 .u-icon-3 {
    height: 81px;
    width: 81px;
    margin-top: 8px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    font-size: 1rem;
    margin-top: -28px;
    margin-bottom: 45px;
    padding-right: 31px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 64px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-1 {
    width: 306px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 194px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    width: 259px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    width: 232px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 292px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-7 .u-text-5 {
    width: 271px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 78px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 38px;
  }

  .u-section-7 .u-text-1 {
    width: 163px;
  }

  .u-section-7 .u-text-2 {
    width: 223px;
    margin-bottom: 38px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 45px;
  }

  .u-section-7 .u-text-3 {
    width: 208px;
    margin-top: 26px;
  }

  .u-section-7 .u-text-4 {
    width: 236px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 40px;
  }

  .u-section-7 .u-text-5 {
    width: 192px;
  }

  .u-section-7 .u-text-6 {
    width: 213px;
    margin-bottom: 40px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 692px;
}

.u-section-8 .u-form-1 {
  height: 523px;
  margin: 20px 64px 0 481px;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
}

.u-section-8 .u-text-1 {
  font-size: 1.1875rem;
  margin: -608px 681px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-form-1 {
    margin-top: 10px;
    margin-right: 39px;
    margin-left: 470px;
  }

  .u-section-8 .u-btn-1 {
    width: 100%;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -604px;
    margin-right: 496px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-8 .u-form-1 {
    height: 556px;
    width: 625px;
    margin-top: 292px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: -874px;
    margin-left: 58px;
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: -912px;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -823px;
    margin-left: 7px;
    margin-right: 7px;
  }
}